dll.dll
dll.exp
dll.lib
dll.obj
main.exe
main.obj

coff_test/fake.obj
coff_test/fake.obj.txt
coff_test/func1.obj
coff_test/func1.obj.txt
coff_test/dlout.exp
coff_test/dlout.lib
coff_test/dlout.dll
coff_test/dlout.dll.txt
coff_test/main.obj
coff_test/main.exe
coff_test/main.exe.txt

